.movies__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 2rem;
    padding-top:1.5rem;
}
.movies{
    padding-left: 120px;
}
@media (max-width: 600px) {}

@media (min-width: 601px) and (max-width: 1023px) {
   
    .movies{
        
        padding-left: 1rem;

  
    }
    .movies__container{
        grid-template-columns: 1fr 1fr 1fr;
    }






}

@media (min-width: 769px) and (max-width: 1024px) {
    
}