.tvSeries__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 1rem;
    padding-top:1.5rem;
    padding-right: 1rem;
}
.tvSeries{
    padding-left: 120px;

}

@media (max-width: 600px) {
    .tvSeries{
        padding-left: 1rem;
        padding-top:1rem;
    }
    .tvSeries__container{
        grid-template-columns: 1fr 1fr;
        column-gap: 0.8rem;
    }

}

@media (min-width: 601px) and (max-width: 1023px) {

   
    .main__searchfield{
        padding-top:8rem;
        padding-left: 1rem;

  
    }
    .tvSeries{
        padding-left: 1rem;
    
    }
    .tvSeries__container{
        grid-template-columns: 1fr 1fr 1fr;
    }






}

@media (min-width: 769px) and (max-width: 1024px) {
    
}