.card__container{
  /*  width:470px;
    height: 230px;*/
    margin: 1rem;
   /* padding: 1rem;*/

    position:relative;
    border-radius: 10px;
    width:100%;
    overflow: hidden;
    
  
 
}
.card__container:hover > .card__image{
    opacity: 0.4;
 
 }
.card__bookmark{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:15px;
    right:15px;
    width:32px;
    height:32px;
    border-radius: 25px;
    background-color: gray;
}
.card__tr__description{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.3rem;
}
.card__tr__image{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4028%) hue-rotate(153deg) brightness(114%) contrast(111%);
    width: 20%;
     height: 75%;

}

.card__container__description{
   
    position: absolute;
    bottom:18px;
    padding-left: 1rem;
    
}
.card__movie__description{
    display: flex;
    gap:0.3rem;
    font-weight: 300;
    font-size: 0.93rem;
    color: var(--color-white);
    opacity: 0.75;
    padding-bottom: 0.3rem;

}
.card__play-trending{
    display: none;
    gap:0.8rem;
    color: var(--color-white);
    background-color: gray;
    border-radius: 20px;
    padding:0.3rem 0.9rem 0.3rem 0.3rem;
    /*padding:0.3rem;*/
    justify-content: center;
    align-items: center;
    position:absolute;
   /* top:43%;
    left:36%;*/
    top: 39%;
    left:34%;
    opacity:0.64;
 
  
    
  
}
.card__play-trending:hover{
    cursor: pointer;
}
/*
.card__container:hover{
  
}*/
.card__container:hover .card__play-trending{
  display: flex;
}
.card__movie__title{
    font-weight: 500;
    font-size:1.5rem;
    color:var(--color-white);

}