.result__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 0.8rem;
    padding-top:1.5rem;
   padding-right: 1rem;
}
.searchResult__container{
    padding-top:1rem;
}
.searchResult__text{
    font-size: 2rem;
    font-weight: 300;
    color:white;
}

@media (max-width: 600px) {
    .tvSeries{
        padding-left: 1rem;
        padding-top:2rem;
    }
    .result__container{
        grid-template-columns: 1fr 1fr;
    }
    .searchResult__text{
        font-size: 1.25rem;
    }

}

@media (min-width: 601px) and (max-width: 1023px) {

   
  
    .result__container{
        grid-template-columns: 1fr 1fr 1fr;
    }






}

@media (min-width: 769px) and (max-width: 1024px) {
    
}
