.bookmark__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 1rem;
    row-gap: 2rem;
    padding-top:1.5rem;
    padding-right: 1rem;
}
.bookmark{
    padding-left: 120px;
}

@media (max-width: 600px) {
    .bookmark{
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .bookmark__container{
        grid-template-columns: 1fr 1fr;
        gap:0.8rem;
        padding-bottom: 1rem;
    }
    .main__content__header{
padding: 0;
    }

}

@media (min-width: 601px) and (max-width: 1023px) {

   
    .main__searchfield{
        padding-top:8rem;
        padding-left: 1rem;

  
    }
    .tvSeries{
        padding-left: 1rem;
    
    }

    .bookmark{
        padding-left: 1rem;
    }

    .bookmark__container{
        grid-template-columns: 1fr 1fr 1fr;
    }






}

@media (min-width: 769px) and (max-width: 1024px) {
    
}