*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --body-bgColor:#10141e;
  --color-white:#FFFFFF;
  --color-red:#FC4747;
  --color-lightBlue:#5A698F;


}
body{
  background-color: var(--body-bgColor);
  height:100vh;
 
  font-family: 'Outfit', sans-serif;
 
}