.main__searchfield{
    display: flex;
    align-items: center;
    padding-left: 120px;
    padding-top:2rem;
   

}
.main__searchfield input{
    width:100%;
    margin-left: 0.5rem;
    height: 100%;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    color: white;
    border: none;
}
.main__searchfield input:focus{
   outline: none;
}

@media (max-width: 600px) {
    .main__searchfield input{
        font-size: 1rem;

    }
    .main__searchfield{
        padding-top:6rem;
        padding-left: 1rem;
        padding-bottom: 1rem;

  
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
   
    .main__searchfield{
        padding-top:8rem;
        padding-left: 1rem;

  
    }






}

@media (min-width: 769px) and (max-width: 1024px) {
    
}